@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,502;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Tudo----------------*/
*{  
    box-sizing: border-box;  
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
  background-color: #f7f3f2;
}
/*Container-------------*/
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "nav nav nav nav nav"
                       "header header header header header";
}


/*Navbar*/
.nav{
  grid-area: nav;
  background-color: rgba(255, 255, 255, 0.034);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 25px 2%;
  margin: 0%;
  z-index: 200;
} 

.nav a{
  text-decoration: none; 
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
 
}

.nav a:hover{
    color: rgb(42, 170, 255);
}


.nav li{
  display: inline-block;
  padding: 0px 20px;
}

/*Header*/
.header{
  grid-area: header;
  justify-content: space-between;
  height: 220vh;
  width: 100vw;
  position: relative;
  bottom: 12vh;
  z-index: 199;
}

.header h1{
  color: white;
  position: relative;
  top: 700px;
  
}